*{
    margin:0;
    padding:0;
    
}
body{
    background-color:rgb(0033,078,11, 0.5);
  background-attachment:fixed;
  background-image:url(bg3.jpg);
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}
#header td{
    background-color:black;
}
#header ul{
    display:flex;
    list-style:none;
    
}
#header li{
    padding-right:10px;
    list-style:none;
    margin-right:50px;
    margin-left:80px;
    align-items:center;
} 
#header a{
    text-decoration:none;
    color:white;
}
div{
    margin:5px;
}
#card1{
    margin:2px;
    border-style:inset;
    border-width:1px;
    border-color:yellowgreen;
    width:500px;
    height:100px;
    background-image:url(a.jpg);
    margin:4px 1px 2px 20%;
}
#card1{ 
box-shadow:0.4px 1px 111px 10px rgba(22, 50, 1000,0.5) inset, 1.4px 1px 11px 10px rgba(5555, 1.0, 0,0.3)inset,1.4px 1px 11px 10px white,1px 1px 1px 5px black;
    border-radius:15px;
   
}
#all{
    border-width:2px;
    border-style:solid dotted dashed ridge;
    border-top-color:red;
    border-right-color:green;
    border-bottom-color:orange;
    border-left-color:black;
    text-align:center;
    border-radius:5px;
    border-top-left-radius:40px;
    border-bottom-right-radius:40px;
}
#top{
    border-top:2px ridge pink;
}

#right{
    border-right:2px dotted black;
    
}
#bottom{
    border-bottom:2px groove yellow;
    border-radius:20px;
    
}
#all{
    font-family:Times New Roman,Arial;
     font-size:80px;
    text-shadow:-2px -2px 2px red,2px 2px 1px green;
}
#left{ 
    border-left:2px outset red;
}

.dv1
 {
border:1px solid blue;
width:500px;
float:left;
margin-right:10px;
}
.dv2
 {
border:1px solid red;
width:500px;
float:right;
}
.dv3
 {
    border:1px solid pink;
    width:100%;
    clear:both;
    text-align:center;
float:left;
}
table{
    width:100%;
    height:200px;
}


/*text writing mode left right horizontal-tb(defoult) vertical-lr vertical-rl sideways-lr sideways-rl */
#wm{
    width:50px;
    height:100px;
    overflow:hidden;
    border:1px solid green;
    -moz-writing-mode:vertical-lr;
  
    -webkit-writing-mode:vertical-lr;
    clear:both;
}
#cr{
   border:1px solid black;
   text-align:justify;
   width:500px;
   column-count:3;
   /*column-width:100px;*/
   column-width:200px;
   column-gap:50px;
/*   column-rule-width:2px;
   column-rule-color:green;
   column-rule-style:double;
    Short cut we write below line
    */
   column-rule:5px double red;
   box-sizing:content-box;
}
#cr h3{
    column-span:all;
}

#sid ul{
    list-style-position:inside;
    list-style:none;

}
#sid li a{
  display:block;
  padding:10px 10px;
  text-decoration:none;
  color:white;
    
}
/*background Clip text clip*/
.dv1 h1{
    color:transparent;
    font-size:80px;
    font-family:Times New Roman;
    background-image:url(bg2.jpg);
    -webkit-background-clip:text;
    -moz-background-clip:text;
}
/*Gredients and flex*/
#flx{
    display:flex;
}
#flx #fd1,#fd2,#fd3{
    height:250px;
    border:2px double black;
}
#fd1{
    background:linear-gradient(to right,orange,white,blue,green);
}

#fd2{
    background:linear-gradient(45deg,orange,white,blue,green);
    background:linear-gradient(orange,rgba(252,00,0,0.1),green);
    /*background:repeating-linear-gradient(to right,orange 10%,white 50%,blue,green);*/
}
#fd3{
    background:radial-gradient(yellow 5%,green 15%,red 60%);
}
/*blend mode background */
#bbm{
    box-sizing:border-box;
    border:2px solid yellow;
    background-image:linear-gradient(orange,rgba(252,00,0,0.1),green),url(bg2.jpg);
   -webkit-background-blend-mode:screen;
   background-blend-mode:screen;
}
#mxb{
border:2px solid pink;
width:350px;
height:350px;
background-image:url(bg3.jpg);
}
#mxb h2{
    margin-top:50%;
    background:red;
    text-align:center;
    font-size:35px;
    mix-blend-mode:color;
    
}



#foot
{ text-align:center;
  
 background-image:linear-gradient(orange,rgba(252,00,0,0.1),green);
   -webkit-background-blend-mode:screen;
   background-blend-mode:screen;
}


@media screen and (max-width:700px)
{
   #card1{
        width:100%;
    }
   #table{
 width:100%;
   }
   body{
    background-color:rgb(0033,078,11, 0.5);
  background-attachment:fixed;
  background-image:url(bg2.jpg);
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}
}

@media screen and (max-width:480px)
{
   #card1{
      width:320px;
    }
   #table{
min-width:50px;
   }
   body{
       background-image:url(bg1.jpg);
   }
}
@media screen and (max-width:330px)
{
   #card1{
      width:200px;
      
    }
   #table{
min-width:50px;
   }
}